a {
  display: block;
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: #0000ff;
    text-decoration: underline;
  }
  font-size: small;
}
 p{
   font-size: small;
 }

 #messaggistica{
  display:none;
 }
 @media (min-width:768px){
#messaggistica{
  display:block;
  max-width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
}
}
