<div class="container">
  <div class="row justify-content-around">
    <div class="col col-md-2">
      <a href="">Informazioni</a>
      <a href="">Linee guida della community</a>
      <a href="">Privacy e condizioni</a>
      <a href="">Sales Solutions</a>
      <a href="">Centro sicurezza</a>
    </div>
    <div class="col col-md-2">
      <a href="">Accessibilità</a>
      <a href="">Carriera</a>
      <a href="">
        Opzioni per gli annunci <br />
        pubblicitari
      </a>
      <a href="">Mobile</a>
    </div>
    <div class="col col-md-2">
      <a href="">Talent Solutions</a>
      <a href="">Soluzioni di marketing</a>
      <a href="">Pubblicità</a>
      <a href="">Piccole imprese</a>
    </div>
    <div class="col col-md-2">
      <!-- Question icon and text -->
      <div class="d-flex">
        <div>
          <i class="bi bi-question-circle-fill"></i>
        </div>
        <div>
          <h6 class="fw-bold">Domande?</h6>
          <a class="fw-lighter" href="">Visita il nostro Centro assistenza.</a>
        </div>
      </div>
      <!-- Gear icon and text -->
      <div class="d-flex">
        <div>
          <i class="bi bi-gear-fill"></i>
        </div>
        <div>
          <h6 class="fw-bolder">Gestisci il tuo account e la tua privacy</h6>
          <a class="fw-lighter" href="">Vai alle impostazioni</a>
        </div>
      </div>
      <!-- Shield icon and text -->
      <div class="d-flex">
        <div><i class="bi bi-shield-shaded"></i></div>
        <div>
          <h6 class="fw-semibold">Trasparenza sui contenuti consigliati</h6>
          <a class="fw-lighter" href=""
            >Scopri di più sui contenuti consigliati.</a
          >
        </div>
      </div>
    </div>

    <div class="col col-md-2">
      <a class="fw-lighter" href="">Seleziona lingua</a>
      <!-- Dropdown button -->
      <div class="dropdown">
        <button
          class="btn btn-light border border-primary border-3 dropdown-toggle text-secondary"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ linguaSelezionata }}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let lingua of lingue">
            <a
              href="#"
              [ngClass]="'bg bg-secondary bg-opacity-75 text-light'"
              (click)="onClick(lingua)"
              >{{ lingua }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a class="fw-lighter" href="">LinkedIn Corporation &copy; 2023</a>
