<div class="container">
  <div class="row justify-content-around">
    <div class="col col-md-2">
      <a href="">Informazioni</a>
      <a href="">Linee guida della community</a>
      <a href="">Privacy e condizioni</a>
      <a href="">Sales Solutions</a>
      <a href="">Centro sicurezza</a>
    </div>
    <div class="col col-md-2">
      <a href="">Accessibilità</a>
      <a href="">Carriera</a>
      <a href="">
        Opzioni per gli annunci <br />
        pubblicitari
      </a>
      <a href="">Mobile</a>
    </div>
    <div class="col col-md-2">
      <a href="">Talent Solutions</a>
      <a href="">Soluzioni di marketing</a>
      <a href="">Pubblicità</a>
      <a href="">Piccole imprese</a>
    </div>
    <div class="col col-md-2">
      <h5>Domande?</h5>
      <a href="">Visita il nostro Centro assistenza.</a>
      <h5>Gestisci il tuo account e la tua privacy</h5>
      <a href="">Vai alle impostazioni</a>
      <h5>Trasparenza sui contenuti consigliati</h5>
      <a href="">Scopri di più sui contenuti consigliati.</a>
    </div>
    <div class="col col-md-2">
      <a href="">Seleziona lingua</a>
    </div>
  </div>
</div>
<a href="">LinkedIn Corporation &copy; 2023</a>
