a {
  display: block;
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: #0000ff;
    text-decoration: underline;
  }
  font-size: small;
}
 p{
   font-size: small;
 }

 #messaggistica{
  display:none;
 }
 @media (min-width:768px){
#messaggistica{
  display:block;
  max-width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
}
}
#shadows{
  box-shadow:  -5px 7px 19px 7px rgba(166,166,166,0.5);
  padding: 1em;
  width: 30vw;
}

#shadows li{
  color: grey;
  margin: 0.5em
}
