<nav class="navbar justify-content-around navbar-expand-md">
  <div class="container justify-content-between">
    <!-- Logo linkedin -->
    <div class="logo">
      <a class="navbar-brand" href="#">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>

    <!-- Ricerca -->
    <form class="d-flex mx-2" role="search">
      <div class="search-container">
        <div class="search-icon"><i class="bi bi-search"></i></div>
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </form>

    <!-- Hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav icons align-items-md-center justify-content-evenly">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-house-door-fill"></i> Home
          </a>
        </li>

        <!-- Rete -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-people-fill"></i> Rete
          </a>
        </li>

        <!-- Lavoro -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-briefcase-fill"></i> Lavoro
          </a>
        </li>

        <!-- Messaggistica -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-chat-right-dots-fill"></i> Messaggistica
          </a>
        </li>

        <!-- Notifiche -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-bell-fill"></i> Notifiche
          </a>
        </li>

        <!-- Tu Dropdown -->
        <li class="nav-item dropdown" #Me id="me">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-person-circle"></i>
            <div class="d-flex align-items-center">
              <button
                class="dropdown-button"
                id="tu"
                (click)="toggleMeDropdown()"
              >
                Tu <i class="bi bi-caret-down-fill fs-6"></i>
              </button>
            </div>
            <!-- user dropdown -->
            <ul class="dropdown-list" *ngIf="isMeDropdownOpen">
              <li class="dropdown-item">
                <div class="d-flex">
                  <i class="bi bi-person-circle text-primary fs-2"></i>
                  <p class="ms-3 fw-bold">
                    {{ profileData?.name }} {{ profileData?.surname }} <br />
                    <span class="fw-light">{{ profileData?.title }}</span>
                  </p>
                </div>
                <button
                  type="button"
                  class="btn btn-blue align-items-center w-75 mx-auto"
                >
                  Visualizza profilo
                </button>
              </li>
              <li class="dropdown-item" routerLink="profile">Account</li>
              <li class="dropdown-item">Prova Premium gratis</li>
              <li class="dropdown-item">Impostazioni e privacy</li>
              <li class="dropdown-item">Guida</li>
              <li class="dropdown-item">Lingua</li>
              <hr />
              <li class="dropdown-item">Gestisci</li>
              <li class="dropdown-item">Post e attività</li>
              <li class="dropdown-item">
                Account per la pubblicazione di offerte
              </li>
              <hr />
              <li class="dropdown-item">Esci</li>
            </ul>
          </div>
        </li>

        <!-- Per le aziende dropdown -->
        <li class="nav-item dropdown">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-grid-3x3-gap-fill"></i>

            <button
              class="btn"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              per le aziende <i class="bi bi-caret-down-fill fs-6"></i>
            </button>

            <ul class="dropdown-list" *ngIf="isCompanyDropdownOpen">
              <li class="dropdown-item">Item 1</li>
              <li class="dropdown-item">Item 2</li>
              <li class="dropdown-item">Item 3</li>
            </ul>
          </div>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>

<div
  [ngClass]="scrolled ? 'visible-div' : 'hidden-div'"
  class="container d-none d-md-flex"
>
  <div class="d-flex justify-content-around w-100 pt-2" id="scroll">
    <div class="d-flex">
      <i class="bi bi-person-circle text-primary fs-2"></i>
      <p class="ms-3 fw-bold">
        {{ profileData?.name }} {{ profileData?.surname }} <br />
        <span class="fw-light">{{ profileData?.title }}</span>
      </p>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-outline-secondary align-items-center mx-2"
      >
        altro
      </button>
      <button
        type="button"
        class="btn btn-outline-primary align-items-center mx-2"
      >
        Aggiungi sezione di profilo
      </button>
      <button type="button" class="btn btn-primary align-items-center mx-2">
        Disponibile per
      </button>
    </div>
  </div>
</div>

<!-- Offcanvas Element -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <!-- Offcanvas title and close button -->
  <div class="offcanvas-header">
    <h4 id="offcanvasRightLabel">Per le aziende</h4>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <!-- offcanvas first card  -->
  <div class="offcanvas-body">
    <div class="card">
      <div class="card-header">Scopri altri prodotti Linkedin</div>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-play-btn-fill"></i>
              <span class="fs-6 text-center">Learning</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-file-earmark-bar-graph-fill"></i>
              <span class="fs-6 text-center">Talent Insights</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-clipboard-fill"></i>
              <span class="fs-6 text-center"
                >Pubblica un'offerta di lavoro</span
              >
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-pin-map-fill"></i>
              <span class="fs-6 text-center">Publicizza</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-compass-fill"></i>
              <span class="fs-6 text-center">Trova lead</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-people"></i>
              <span class="fs-6 text-center">Gruppi</span>
            </div>
          </div>
          <div class="col-3">
            <div class="card-body d-flex flex-column align-items-center">
              <i class="bi bi-info"></i>
              <span class="fs-6 text-center">Marketplace dei servizi</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- offcanvas second card -->
    <div class="card mt-5">
      <div class="card-header fs-5 fw-bold">
        Assistenza alle aziende di Linkedin
      </div>
      <div class="card-body">
        <div>
          <p class="d-flex flex-column fw-bold">
            Talent Solutions
            <span class="fw-light">Trova, attrai e assumi</span>
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Sales Solutions
            <span class="fw-light">Sblocca nuove opportuinità di vendita</span>
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Pubblica offerta di lavoro gratuita
            <span class="fw-light"
              >Raggiungi i migliori candidati con la tua offerta di lavoro</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Marketing Solutions
            <span class="fw-light"
              >Aquisisci clienti e fai crescere la tua azienda</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Learning Solutions
            <span class="fw-light"
              >Promouvi l'aquisizione di competenze nella tua
              organizzazione</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Centro amministrazione
            <span class="fw-light"
              >Gestisci i dettagli di fatturazione e account</span
            >
          </p>
        </div>
      </div>
      <div class="card-footer fs-5 fw-bold align-items-center">
        Crea una pagina aziendale <i class="bi bi-plus fw-bolder"></i>
      </div>
    </div>
  </div>
</div>
