nav{
  height: 65px;

}
.logo{
  i{
    color:#0a66c2;
    font-size: 2em;
  }
  input{
    width: 100%;
    background-color: #edf3f8;
  }
}
.icons{

  i{
    font-size: 1.1em;
    color: gray;
  }

  i:hover{
    color: black;
  }
}


.dropdown{
  button{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 20px
  }
  i{
    font-size: 1.2em;
    color: gray;
  }
  i:hover{
    color: black;
  }
}

.search-container {
  position: relative;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  i{
    font-size: 1.2em;
  }
}

.search-input {
  padding-left: 40px;
}
#me{
  border-right: solid 1px gainsboro;
  margin-right: 10px;
 padding-right: 10px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
.nowrap {
  white-space: nowrap;
}
