
// nabvar component
nav{
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #ffffff;
  z-index: 1000;
  border-bottom: solid 1px gainsboro;
}

// linkedin logo icon
.logo{
  i{
    color:#0a66c2;
    font-size: 2em;
  }
  input{
    width: 100%;
    background-color: #edf3f8;
  }
}

// navbar icons div
.icons{

  i{
    font-size: 1.1em;
    color: gray;
  }

  i:hover{
    color: black;
  }
}

// dropdown
.dropdown{
  button{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 20px
  }
  i{
    font-size: 1.2em;
    color: gray;
  }
  i:hover{
    color: black;
  }
}

// search bar
.search-container {
  position: relative;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
}

// icon of  the lens inside the search bar
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  i{
    font-size: 1.2em;
  }
}

// search bar input
.search-input {
  padding-left: 40px;
}

// dropdown component of the user
#me{
  border-right: solid 1px gainsboro;
  margin-right: 10px;
 padding-right: 10px;
}


.custom-dropdown {
  position: relative;
  display: inline-block;
}

// arrow button for the dropdown
.dropdown-button {
  background-color: #f0f0f0;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

// each item of the dropdown list
.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}


.dropdown-item:hover {
  background-color: #f0f0f0;
}

// tu button of the dropdown
#tu{
  background-color: white;
}

// offcanvas
.offcanvas-body{
  i{
    font-size: 1.3em;
  }
}

// div that shows with scroll
#scroll{
  margin-top: 65px;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  button{
    height: 35px;

  }
  z-index: 999;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// scrolled div visible
.visible-div {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

// when not scrolled not visible
.hidden-div {
  opacity: 0;

}
