<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container justify-content-between">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>

    <form class="d-flex mx-2" role="search">
      <div class="search-container">
        <div class="search-icon"><i class="bi bi-search"></i></div>
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </form>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav icons align-items-md-center justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-house-door-fill"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-people-fill"></i> Rete
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-briefcase-fill"></i> Lavoro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-chat-right-dots-fill"></i> Messaggistica
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-bell-fill"></i> Notifiche
          </a>
        </li>
        <li class="nav-item dropdown" #Me id="me">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-person-circle"></i>
            <div class="d-flex align-items-center">
              <button
                class="dropdown-button bg-light"
                (click)="toggleMeDropdown()"
              >
                Tu <i class="bi bi-caret-down-fill fs-6"></i>
              </button>
            </div>
            <!-- user dropdown -->
            <ul class="dropdown-list" *ngIf="isMeDropdownOpen">
              <li class="dropdown-item">User</li>
              <li class="dropdown-item">Account</li>
              <li class="dropdown-item">Prova Premium gratis</li>
              <li class="dropdown-item">Impostazioni e privacy</li>
              <li class="dropdown-item">Guida</li>
              <li class="dropdown-item">Lingua</li>
              <hr />
              <li class="dropdown-item">Gestisci</li>
              <li class="dropdown-item">Post e attività</li>
              <li class="dropdown-item">
                Account per la pubblicazione di offerte
              </li>
              <hr />
              <li class="dropdown-item">Esci</li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-grid-3x3-gap-fill"></i>

            <button
              class="btn"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
            >
              per le aziende <i class="bi bi-caret-down-fill fs-6"></i>
            </button>

            <ul class="dropdown-list" *ngIf="isCompanyDropdownOpen">
              <li class="dropdown-item">Item 1</li>
              <li class="dropdown-item">Item 2</li>
              <li class="dropdown-item">Item 3</li>
            </ul>
          </div>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Offcanvas Element -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h4 id="offcanvasRightLabel">Per le aziende</h4>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
      <div class="card-header">Scopri altri prodotti Linkedin</div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-body">
              <div><i class="bi bi-play-btn-fill"></i> Learning</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-file-earmark-bar-graph-fill"> Talent Insights</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-clipboard-fill"> Pubblica un'offerta di lavoro</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-pin-map-fill"> Publicizza</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-compass-fill"> trova lead</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-people"> Gruppi</i>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <i class="bi bi-info"> Marketplace dei servizi</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header fs-5 fw-bold">
        Assistenza alle aziende di Linkedin
      </div>
      <div class="card-body">
        <div>
          <p class="d-flex flex-column fw-bold">
            Talent Solutions
            <span class="fw-light">Trova, attrai e assumi</span>
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Sales Solutions
            <span class="fw-light">Sblocca nuove opportuinità di vendita</span>
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Pubblica offerta di lavoro gratuita
            <span class="fw-light"
              >Raggiungi i migliori candidati con la tua offerta di lavoro</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Marketing Solutions
            <span class="fw-light"
              >Aquisisci clienti e fai crescere la tua azienda</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Learning Solutions
            <span class="fw-light"
              >Promouvi l'aquisizione di competenze nella tua
              organizzazione</span
            >
          </p>
        </div>
        <div>
          <p class="d-flex flex-column fw-bold">
            Centro amministrazione
            <span class="fw-light"
              >Gestisci i dettagli di fatturazione e account</span
            >
          </p>
        </div>
      </div>
      <div class="card-footer fs-5 fw-bold align-items-center">
        Crea una pagina aziendale <i class="bi bi-plus fw-bolder"></i>
      </div>
    </div>
  </div>
</div>
