<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container justify-content-between">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>

    <form class="d-flex mx-2" role="search">
      <div class="search-container">
        <div class="search-icon"><i class="bi bi-search"></i></div>
        <input
          class="form-control me-2 search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
    </form>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav icons align-items-md-center justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-house-door-fill"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-people-fill"></i> Rete
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-briefcase-fill"></i> Lavoro
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-chat-right-dots-fill"></i> Messaggistica
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="#">
            <i class="bi bi-bell-fill"></i> Notifiche
          </a>
        </li>
        <li class="nav-item dropdown" #Me id="me">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-person-circle"></i>
            <div class="d-flex align-items-center">
              <button
                class="dropdown-button bg-light"
                (click)="toggleMeDropdown()"
              >
                Tu <i class="bi bi-caret-down-fill fs-6"></i>
              </button>
            </div>
            <!-- user dropdown -->
            <ul class="dropdown-list" *ngIf="isMeDropdownOpen">
              <li class="dropdown-item">Account</li>
              <li class="dropdown-item">Prova Premium gratis</li>
              <li class="dropdown-item">Impostazioni e privacy</li>
              <li class="dropdown-item">Guida</li>
              <li class="dropdown-item">Lingua</li>
              <hr />
              <li class="dropdown-item">Gestisci</li>
              <li class="dropdown-item">Post e attività</li>
              <li class="dropdown-item">
                Account per la pubblicazione di offerte
              </li>
              <hr />
              <li class="dropdown-item">Esci</li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div class="custom-dropdown d-flex flex-column align-items-center">
            <i class="bi bi-grid-3x3-gap-fill"></i>

            <button
              class="dropdown-button bg-light nowrap"
              (click)="toggleCompanyDropdown()"
            >
              per le aziende <i class="bi bi-caret-down-fill fs-6"></i>
            </button>

            <ul class="dropdown-list" *ngIf="isCompanyDropdownOpen">
              <li class="dropdown-item">Item 1</li>
              <li class="dropdown-item">Item 2</li>
              <li class="dropdown-item">Item 3</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
