<div class="m">
  <div class="row ms-2 b">
    <div *ngFor="let experience of experienceData" class="col-8">
      <div class="d-flex">
        <!-- Immagine azienda -->

        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Valve-logo.jpg/1024px-Valve-logo.jpg"
          height="60px"
          width="60px"
        />
        <div class="ms-2">
          <!-- Descrizione -->
          <p class="fw-bold m-0">{{ experience.role }}</p>
          <p class="fs-profile m-0">{{ experience.company }}</p>
          <p class="fs-profile m-0">
            {{ experience.startDate }} - {{ experience.endDate }} - durata
            complessiva
          </p>
          <p class="fs-profile m-0">{{ experience.area }}</p>
          <p class="fs-profile">
            <span class="fw-bold">Competenze:</span>CSS HTML Jquery Javascript
            SQL
          </p>
          <button (click)="deleteExperience(experience._id)">ciao</button>
        </div>
      </div>
    </div>
  </div>
</div>
