<div class="m col-8 bg-white">
  <form class="ms-4" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="role" class="form-label" name="role"> Modifica ruolo</label>
    <input
      type="text"
      id="role"
      name="role"
      class="form-control w-75"
      [value]="experienceData.role"
      [(ngModel)]="experienceData.role"
    />
    <label for="company" class="form-label" name="company">
      Modifica azienda</label
    >
    <input
      type="text"
      id="company"
      name="company"
      class="form-control w-75"
      [value]="experienceData.company"
      [(ngModel)]="experienceData.company"
    />
    <label for="startDate" class="form-label" name="startDate">
      Modifica data inizio</label
    >
    <input
      type="text"
      id="startDate"
      name="startDate"
      class="form-control w-75"
      [value]="experienceData.startDate"
      [(ngModel)]="experienceData.startDate"
    />
    <label for="endDate" class="form-label" name="endDate">
      Modifica data fine</label
    >
    <input
      type="text"
      id="endDate"
      name="endDate"
      class="form-control w-75"
      [value]="experienceData.endDate"
      [(ngModel)]="experienceData.endDate"
    />
    <button class="btn btn-blue ms-4 mt-3 mb-2">aggiorna</button>
    <button
      type="button"
      class="btn btn-blue mt-3 ms-4 mb-2"
      (click)="deleteExperience()"
    >
      elimina
    </button>
  </form>
</div>
