<div class="m container d-flex justify-content-center">
  <form class="ms-4 w-50" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <label for="role" class="form-label" name="role"> Modifica ruolo</label>
    <input
      type="text"
      id="role"
      name="role"
      class="form-control w-75"
      [value]="experienceData.role"
      [(ngModel)]="experienceData.role"
    />
    <label for="company" class="form-label" name="company">
      Modifica azienda</label
    >
    <input
      type="text"
      id="company"
      name="company"
      class="form-control w-75"
      [value]="experienceData.company"
      [(ngModel)]="experienceData.company"
    />
    <label for="startDate" class="form-label" name="startDate">
      Modifica data inizio</label
    >
    <input
      type="text"
      id="startDate"
      name="startDate"
      class="form-control w-75"
      [value]="experienceData.startDate"
      [(ngModel)]="experienceData.startDate"
    />
    <label for="endDate" class="form-label" name="endDate">
      Modifica data fine</label
    >
    <input
      type="text"
      id="endDate"
      name="endDate"
      class="form-control w-75"
      [value]="experienceData.endDate | dateFormatter"
      [(ngModel)]="experienceData.endDate"
    />
    <div class="p-2 m-1">
      <button class="btn btn-blue mx-2">aggiorna</button>
      <button
        type="button"
        class="btn btn-gray mx-2"
        (click)="deleteExperience()"
      >
        elimina
      </button>
    </div>
  </form>
</div>
