$colorBlue: rgba(10, 102, 194, 255);
$amount: 45;

.side-box
{
  width: 25%;
  height: 100%;
  background-color: black;
}

.box
{
  width: 75%;
}

.profile-img
 {
  position: absolute;
  width: 21%;
  border: 3px solid white;
  top: 35px;
  left: 24px;
}

.div-img-profile
{
  max-width: 800px !important;
}

.btn-blue
{
  border: 1px solid $colorBlue;
  color: $colorBlue;
  &:hover
  {
    background-color: lighten($colorBlue, $amount);
  }
}
.btn-grey {
  border: 1px solid grey;
  color: grey;
  &:hover
  {
    background-color: lighten(grey, $amount);
  }
}
