$colorBlue: #1666C5;
$amount: 45;

.propic
{
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.profile-img
 {
  position: absolute;
  width: 21%;
  border: 3px solid white;
  top: 65px;
  left: 24px;
}

.side-box
{
  width: 25%;
  height: 100%;
  background-color: black;
}

.box
{
  width: 75%;
}

.btn-grey {
  border: 1px solid grey;
  color: grey;
  &:hover
  {
    background-color: lighten(grey, $amount);
  }
}
