<!-- {{ profileData?.name }}
{{ profileData?.surname }}
{{ profileData?.email }}
{{ profileData?.bio }}
{{ profileData?.title }}
{{ profileData?.area }}
{{ profileData?.username }} -->

<div class="container mt-5">
  <div class="row justify-content-around">
    <!-- colonna centrale -->
    <div class="col col-12 col-md-7">
      <div class="row flex-column">
        <!-- Box Profilo -->
        <div class="col g-4 linkedin-box p-0">
          <!-- Immagini -->
          <div class="position-relative div-img-profile w-100 m-0 p-0">
            <!-- Copertina -->
            <img
              src="./../assets/imgs/profile-top-image.png"
              alt=""
              class="img-fluid w-100 cover-image"
            />
            <!-- Propic -->
            <img
              [src]="profileData.image"
              alt=""
              class="rounded-circle profile-img"
            />
          </div>

          <!-- Contenuto -->
          <div class="linkedin-box-content">
            <!-- Nome -->
            <div class="d-flex align-items-center">
              <h1 class="mt-5 profileName">
                {{ profileData.name }} {{ profileData.surname }}
              </h1>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="mt-5 mb-3 ms-4 btn-icon"
                data-bs-toggle="modal"
                data-bs-target="#formModal"
              >
                <i class="bi bi-pencil text-secondary"></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="formModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Modifica presentazione
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <label for="title"> modifica titolo:</label>
                        <input
                          type="text"
                          id="title"
                          [(ngModel)]="profileData.title"
                          name="title"
                          class="d-block w-100 rounded-2 my-2"
                          [value]="profileData.title"
                        />
                        <label for="bio"> modifica bio:</label>
                        <input
                          type="text"
                          id="bio"
                          [(ngModel)]="profileData.bio"
                          name="bio"
                          class="d-block w-100 rounded-2 my-2"
                          [value]="profileData.bio"
                        />
                        <label for="area"> modifica area:</label>
                        <input
                          type="text"
                          id="area"
                          [(ngModel)]="profileData.area"
                          name="area"
                          class="d-block w-100 rounded-2 my-2"
                          [value]="profileData.area"
                        />
                        <button
                          (click)="setUser()"
                          class="btn-blue-2 d-block"
                          data-bs-dismiss="modal"
                        >
                          aggiorna profilo
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Altro  -->
            <p class="text">{{ profileData.title }}</p>
            <p class="text">{{ profileData.bio }}</p>
            <p class="mb-0 text">{{ profileData.area }}</p>
          </div>

          <!-- Bottoni -->
          <div class="row row-cols-3 linkedin-box-content">
            <div class="text-center">
              <button class="btn btn-blue-2 me-2">disponibile per</button>
            </div>
            <div>
              <button class="btn btn-blue">aggiungi sezione profilo</button>
            </div>
            <div>
              <button class="btn btn-gray">aggiungi sezione profilo</button>
            </div>
          </div>

          <div class="linkedin-box-content">
            <div class="row row-cols-2">
              <!-- Box 1 -->
              <div class="p-2">
                <div
                  class="linkedin-box linkedin-box-content-mini linkedin-box-content-mini-blue"
                >
                  <div class="linkedin-box-content-mini">
                    <p>Disponibile a lavorare</p>
                    <p class="text-truncate">
                      Ruoli di FrontEnd Developer e Sviluppatore C#
                    </p>
                    <a href="">Mostra dettagli</a>
                  </div>
                </div>
              </div>

              <!-- Box 2 -->
              <div class="p-2">
                <div class="linkedin-box linkedin-box-content-mini">
                  <div class="linkedin-box-content-mini">
                    <p>Disponibile a lavorare</p>
                    <p class="text-truncate">
                      Ruoli di FrontEnd Developer e Sviluppatore C#
                    </p>
                    <a href="">Mostra dettagli</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Box Esperienze lavorative -->
        <div class="col g-4 linkedin-box p-0">
          <div class="linkedin-box-content">
            <!-- Prima riga -->
            <div class="row row-cols-2 align-items-center mb-3">
              <div><h5 class="d-inline">Esperienza</h5></div>
              <div class="text-end">
                <!-- Icona + -->
                <button
                  type="button "
                  class="btn-icon"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal3"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>

                <!-- Icona matita -->
                <button type="button " class="btn-icon">
                  <a routerLink="esperienze">
                    <i class="bi bi-pencil text-secondary"></i
                  ></a>
                </button>
              </div>
            </div>
            <!-- Inizio esperienze -->
            <div *ngFor="let experience of experienceData">
              <div class="row">
                <!-- Immagine azienda -->
                <div class="col-2 text-center">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Valve-logo.jpg/1024px-Valve-logo.jpg"
                    height="60px"
                    width="60px"
                  />
                </div>
                <!-- Descrizione -->
                <div class="col-10">
                  <p class="fw-bold fs-4 m-0">{{ experience.role }}</p>
                  <p class="fs-profile fs-5 m-0">{{ experience.company }}</p>
                  <p class="fs-profile text-secondary m-0">
                    {{ experience.startDate | dateFormatter }} -
                    {{ experience.endDate | dateFormatter }} - durata
                    complessiva
                  </p>
                  <p class="fs-profile text-secondary m-0">
                    {{ experience.area }}
                  </p>
                  <p class="fs-profile">
                    <span class="fw-bold">Competenze:</span>CSS HTML Jquery
                    Javascript SQL
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Box di test -->
        <div class="col g-4 linkedin-box p-0">
          <div class="col g-4 linkedin-box-content"></div>
        </div>
      </div>
    </div>

    <!-- colonna laterale -->
    <div class="col col-12 col-md-4 mx-1">
      <div class="row flex-column">
        <div class="col g-4 linkedin-box">
          <div class="linkedin-box-content profilelanguage">
            <div class="d-flex justify-content-between">
              <p class="bold">lingua del profilo</p>
              <button
                type="button"
                class="btn-icon"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Impostazioni lingua del profilo
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body d-flex">
                      <div class="d-flex">
                        <i class="bi bi-globe2 me-2"></i>
                        <p>
                          Aggiungi più di una lingua al tuo profilo, così sarà
                          più facile trovarti.
                        </p>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eyeglasses me-2"></i>
                        <p>
                          Se disponibile, mostreremo il tuo profilo nella lingua
                          di chi lo visita. Se non c’è corrispondenza, verrà
                          mostrato il tuo profilo predefinito.
                        </p>
                      </div>
                    </div>
                    <div class="modal-footer d-block">
                      <p>lingue</p>
                      <button class="btn btn-gray">italiano</button>
                      <button class="btn btn-blue">+ aggiungi lingua</button>
                      <div class="d-flex">
                        <i class="bi bi-lightbulb i"></i>
                        <p>
                          Puoi avere un solo profilo per lingua. Quando cambi il
                          profilo nella tua lingua principale, le sezioni vuote
                          verranno compilate usando la tua precedente lingua
                          principale. Scopri di più su come
                          <a href="">creare profili in un’altra lingua.</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text">italiano</p>
          </div>
          <div class="linkedin-box-content">
            <div class="d-flex justify-content-between">
              <p class="bold">Public profile & URl</p>

              <button type="button " class="btn-icon">
                <a> <i class="bi bi-pencil text-secondary"></i></a>
              </button>
            </div>
            <p class="text">link non apribile</p>
          </div>
        </div>
        <div class="col g-4 linkedin-box">
          <p class="text-end m-0 addPann">
            annuncio
            <button
              type="button"
              class="btn p-0"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
            >
              ∙∙∙
            </button>
          </p>
          <!-- Button trigger modal -->

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel2"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel2">
                    Opzioni annuncio
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body annucioPopUP">
                  <div class="d-flex">
                    <i class="bi bi-info-square-fill me-1"></i>
                    <div class="user-select-none">
                      <p class="bold m-0">perchè vedo questo annuncio?</p>
                      <p>gestisci le preferenze per gli annunci pubblicitari</p>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="bi bi-flag-fill me-1"></i>
                    <div>
                      <p class="bold m-0">segnala questo annuncio</p>
                      <p>non voglio vedere questo annucio nel mio feed</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="addPann text text-center m-1">
            scorpi la formazione presso epicode
          </p>
          <div class="d-flex justify-content-center">
            <img
              [src]="profileData.image"
              alt=""
              class="rounded-circle profileAddsImg me-2"
            />
            <a href="https://epicode.com/it">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQROaS3ruCLNEDynCYsFxDvt03s1oYBBqhz2Is_kJBcd23576MEEip3dWZuWOtQvPcP8MU&usqp=CAU"
                class="rounded-circle profileAddsImg"
            /></a>
          </div>
          <p class="text text-center my-2">
            {{ profileData.name }}, sopri le opportunità offerte da
            <span class="spanEpicodeAdd">epicode</span>
          </p>
          <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/school/epicodeitalia/">
              <button class="btn btn-blue mb-3">segui</button></a
            >
          </div>
        </div>
        <div class="col g-4 linkedin-box">
          <div class="p-box-contentent">
            <p class="bold">Altri profili cosultati</p>
          </div>
          <div *ngFor="let item of utente" class="linkedin-box-content pt-0">
            <div class="d-flex mt-2">
              <img [src]="item.image" class="rounded-circle iconProfile" />
              <div class="ms-2">
                <p class="bold mb-0">{{ item.name }} {{ item.surname }}</p>
                <p class="mb-3">{{ item.title }}</p>
              </div>
            </div>
            <div class="profilelanguage d-flex">
              <button class="mb-2 marginButtuonIcon d-block btn btn-gray">
                <i class="bi bi-person-fill-add"></i> colegati
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modale esperienze -->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">
          Aggiungi esperienze
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body annucioPopUP">
        <!-- form del modale -->
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="mb-3">
            <label class="form-label">Qualifica</label>
            <input
              type="text"
              class="form-control"
              id="role"
              name="role"
              [(ngModel)]="role"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Nome azienda</label>
            <input
              type="text"
              class="form-control"
              id="company"
              name="company"
              [(ngModel)]="company"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Data di inizio</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              [(ngModel)]="startDate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Data di fine</label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              name="endDate"
              [(ngModel)]="endDate"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Descrizione</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              [(ngModel)]="description"
            ></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Luogo</label>
            <input
              type="text"
              class="form-control"
              id="area"
              name="area"
              [(ngModel)]="area"
            />
          </div>
          <button type="submit" class="btn btn-primary">Salva</button>
        </form>
      </div>
    </div>
  </div>
</div>
