<p>formazione works!</p>
<!-- <div class="container">
  <div ngModelGroup="authData" class="form-row row">
    <div class="form-group col-6">
      <input
        type="textarea"
        rows="5"
        cols="33"
        ngModel
        class="form-control"
        placeholder="Descrizione..."
      />
      <span></span>
    </div>
  </div>
</div> -->
<form class="m-5">
  <div class="mb-3 mt-5 ms-5">
    <label for="titolo" class="form-label">Titolo di studio</label>
    <input
      type="text"
      class="form-control"
      id="titolo"
      placeholder="Laurea in..."
    />
  </div>
  <div class="mb-3 mt-5 ms-5">
    <label for="descrizione-formazione" class="form-label"
      >Materie di studio</label
    >
    <textarea
      type="text"
      rows="5"
      cols="2"
      class="form-control"
      id="descrizione-formazionte"
      aria-describedby="emailHelp"
      placeholder="Descrizione..."
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary ms-5">Salva</button>
</form>
