<p>home works!</p>
<router-outlet></router-outlet>
<div class="container d-flex">
  <div class="box">
    <div class="w-100 position-relative divImgProfile">
      <img src="https://placekitten.com/500/100" alt="" class="w-100" />

      <img
        src="https://placekitten.com/100/100"
        alt=""
        class="rounded-circle profileImg"
      />
    </div>
    <h1 class="mt-5">io</h1>
    <h3>descrizione</h3>
    <h3>FORMAZIONE</h3>
    <h3 class="mb-0">residenza</h3>
    <a href="modulobostrapp"> informazioni contatto</a>
    <a href="link conoscenti"> n collegament*</a>
    <button class="btn btBlue me-2">disponibile</button>
    <button class="btn brBlue">aggiungi sezione profilo</button>
    <button class="btn brBlue">aggiungi sezione profilo</button>
  </div>

  <div class="side-box"></div>
</div>
<app-profile></app-profile>
