<div class="linkedin-box-content">
  <p class="bold">Altri profili cosultati</p>
  <div class="d-flex mt-2">
    <img
      src="http://placekitten.com/100/100"
      class="rounded-circle iconProfile"
    />
    <div class="ms-2">
      <p class="bold mb-0">nome e cognome</p>
      <p class="mb-3">specilizazione</p>
    </div>
  </div>
  <div class="profilelanguage d-flex">
    <button class="mb-2 marginButtuonIcon d-block btn btn-gray">
      <i class="bi bi-person-fill-add"></i> colegati
    </button>
  </div>
  <div class="d-flex mt-2">
    <img
      src="http://placekitten.com/100/100"
      class="rounded-circle iconProfile"
    />
    <div class="ms-2">
      <p class="bold mb-0">nome e cognome</p>
      <p class="mb-3">specilizazione</p>
    </div>
  </div>
  <div class="profilelanguage d-flex">
    <button class="mb-2 marginButtuonIcon d-block btn btn-gray">
      <i class="bi bi-person-fill-add"></i> colegati
    </button>
  </div>
</div>
