.side-box {
  width: 25%;
  height: 100%;
  background-color: black;
}
.box {
  width: 75%;
}

#empty{
  margin-top:100px
}

.card{
  width: 600px;
  border-radius: 20px;
  border: none;

}

img{
  width: 30px;
  border-radius: 40px;
  height: 30px;
  margin-right: 20px;

}
.comment-bubble {
  position: relative;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.comment-bubble i {
  vertical-align: middle;
  margin-right: 10px;
}

.comment-bubble::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 15px 8px 0;
  border-color: transparent #f1f1f1 transparent transparent;
}

#new-post{
  background-color: white;
  height: 150px;
  width: 600px;
  border-radius: 20px;
  input{
    width: 300px;
    margin-right:20px;
    border-radius: 20px;
    border: solid 1px gainsboro;
    height: 30px;
    padding-left: 20px;
  }
  a{

    font-size: 0.9em;
    color: black;
    i{
      font-size: 1.5em;

    }
  }
}
